<%- include('../partials/header') %>
<div class="container my-5">
  <header class="jumbotron">
    <h1>All About Me</h1>
  </header>

  <div>
    <p>Lab 3 --Sodvadiya Vidhi-- 200429730</p>
  </div>
</div>
<%- include('../partials/footer') %>